body {
    background-color: #ffb31a;
}

.indexHeader {
    font-family:'Times New Roman', Times, serif;
}

img {
    max-width: 50%;
}

#indexImg {
    max-width: 100%;
}

#ingredients {
    color: #fff;
    background-color: #000;
    font-style: italic;
    max-width: 50%;
}

ol {
    background-color: #0ff;
}

a {
    color: #000;
}

a:hover,
a:focus {
    color: #333;
}